{{- if isset .Site.Taxonomies "categories" }}
{{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="widget-categories widget">
	<h4 class="widget__title">{{ T "categories_title" }}</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range $name, $items := .Site.Taxonomies.categories }}
			<li class="widget__item"><a class="widget__link" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title }}</a></li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}
{{- end }}