<header class="header">
   <div class="container">
      <div class="logo">
         {{ with .Site.Params.logo }}<img src="{{ . | relURL }}" style="width:12%" />{{ end }}
         <a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
            <div class="logo__title">{{ .Site.Title }}</div>
            {{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
         </a>
      </div>
      <div class="fork-me-wrapper">
         <div class="fork-me">
            <a class="fork-me-link" href="{{ "listen" | relURL }}">
               <span class="fork-me-text">Listen Live!</span>
            </a>
            </div>
      </div>
      {{ partial "menu.html" . }}
   </div>
</header>